<div id="tripContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3 sidebar">
                <ul class="nav nav-sidebar">
                    <li><h3><span class="entypo-address" ></span> Finn din tur</h3></li>
                    <div id ="positionBox">
                        <li>Din posisjon</br></li>
                        <li>
                            <div id="checkForm">
                                <input type="checkbox" id="currentPos"> <p class="kommentar">Gjeldende plassering</p>
                            </div>
                        </li>
                        <li><p class ="kommentar">-eller-</p></li>
                        <li><input class="fin" type="text" id="txtautocomplete"  placeholder="Skriv inn en adresse"/></li>
                        <li><label id="lblresult"></label></li>
                        <!--<li><input type="text" id ="startPos" class ="fin"placeholder="Adresse"><br></li>-->
                    </div>
                    <li>Avstand til startpunkt(timer)</li> <!--Finn metode for å finne nåværende posisjon-->

                    <!--Få inn API for å beregne avstand mellom punkter i DB og startposisjon-->
                    <li><input class = "slider" style = "width: 240px;" type = "range" id="inputDistanceToStart" min = "0" max = "10" step = "1" title = "Velg antall km" value = "0"  onmousemove="distanceValue.value=value" /><output class = "outputValue" id="distanceValue">0</output></li>
                    <li>Toppturens varighet (timer)</li>
                    <li><input class = "slider" style = "width: 240px;" type = "range" id="distanceTrip" min = "1" max = "10" step = "1" title = "Velg antall km" value = "0" onmousemove="distanceTripValue.value=value" + "t"/><output class = "outputValue" id="distanceTripValue">0</output></li>
                    <li>Vanskelighetsgrad</li>
                    <li><input class = "slider" style = "width: 240px;" type = "range" id="difficult" min = "1" max = "5" step = "1" title = "Velg vanskelighetsgrad" value = "0"/></li>

                    <p class = "kommentar">Nybegynner</p>
                    <p class = "kommentar" style = "margin-left: 130px">Ekspert</p>


                    <li><button id = "btnSearch" type="button" onclick="findTrip()" class="btn btn-info" style = "background-color: #ffa44c; border: 0px; margin-top: 20px; width: 75px;">Søk</button></li>
                </ul>
            </div>
            <script>
                $('input[type="range"]').on('input', function () {
                    var percent = Math.ceil(((this.value - this.min) / (this.max - this.min)) * 100);
                    console.log(this.min);
                    $(this).css('background', '-webkit-linear-gradient(left, #ff7d00 0%, #fec389 ' + percent + '%, #e9e9e9 ' + percent + '%)');
                });

            </script>
            <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2 main" style = "margin-top: -4px; background-color: #a4a5a5">
                <!--Kart start-->
                <div id = "map" position = fixed></div>
                <!--Kart-->
            </div><!--Kolonne-->
        </div> <!--Klasse row-->
    </div><!--Slutt på container-->
    <hr>
    <footer>
        <p>&copy; 2015 Company, Inc.</p>
    </footer>

</div>