<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <ul class="nav nav-sidebar">


                <div id="regTur">
                <form>

                    <li><h3>Svingene</h3></li>
                    <li><h4>Topptur i Myrkdalen, Voss</h4></li>
                    <li> <input placeholder="Navn på topptur" name="name" required pattern=".{2,}" /></li>
                    <li><input placeholder="Plassering" name="place" /></li>
                    <li><input placeholder="Vanskelighetsgrad" name="difficulty" /></li>
                    <li><input placeholder="Beskrivelse" name="description"/></li>
                    <li><button type="submit">Registrer tur</button>
                </form>
                </div>



                <div id="loginPopup" ng-controller="LoginController as login">
                    <form ng-submit="login.login(login.credentials)">
                        <h2><span class="entypo-login"></span> Logg inn</h2>
                        <button class="submit" onsubmit= "logIn()" id="loginBtn"><span class="entypo-lock"></span></button>
                        <span class="entypo-user inputUserIcon"></span>
                        <input type="text" class ="fin" id="user" name="email" placeholder="E-post" ng-model="login.credentials.email"/>
                        <span class="entypo-key inputPassIcon"></span>
                        <input type="password" class = "fin" id="pass" name="password" placeholder="Passord" ng-model="login.credentials.password"/>
                    </form>
                </div>



            </ul>
        </div>
        <div class="col-sm-8">



           <!-- <div id='map'></div> -->

            <div id="map" style="width: 100%; height: 90vh; border: 0px solid #ccc"></div>
            <!-- <button id="changeColor">Rectangle -> Blue</button> -->

        <script>


                var map = new L.Map('map', {center: new L.LatLng(65.00, 11.50), zoom: 5});

                // create a new tile layer
                var tileUrl = 'https://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png',
                    layer = new L.TileLayer(tileUrl, {maxZoom: 18});

                // add the layer to the map
                map.addLayer(layer);


                var drawnItems = new L.FeatureGroup();
                map.addLayer(drawnItems);

                // Set the title to show on the polygon button
                L.drawLocal.draw.toolbar.buttons.polyline = 'Tegn topptur!';

                var drawControl = new L.Control.Draw({
                    position: 'topleft',
                    draw: {
                        polyline: true,
                        rectangle: false,
                        polygon: false,
                        circle: false,
                        marker: false
                    },
                    edit: {
                        featureGroup: drawnItems,
                        remove: true
                    }
                });
                map.addControl(drawControl);
                drawControl.setDrawingOptions({ polyline: { shapeOptions: { color: '#3e8c6a', opacity: 1.0 } } });


                map.on('draw:created', function (e) {
                    var type = e.layerType,
                            layer = e.layer;

                    if (type === 'marker') {
                        layer.bindPopup('A popup!');
                    }

                    drawnItems.addLayer(layer);





                    var collection = drawnItems.toGeoJSON();
                    //var latlong = drawnItems.getLatLngs();
                    console.log(collection);
                    console.log(drawnItems);
                });



                map.on('draw:edited', function (e) {
                    var layers = e.layers;
                    var countOfEditedLayers = 0;
                    layers.eachLayer(function(layer) {
                        countOfEditedLayers++;
                    });
                    console.log("Edited " + countOfEditedLayers + " layers");
                });

                L.DomUtil.get('changeColor').onclick = function () {
                    drawControl.setDrawingOptions({ rectangle: { shapeOptions: { color: '#004a80' } } });
                };


        </script>




            <!-- TESTER SLUTT!!!!!!!!!!!!! -->
        </div>

        </div>
    </div>
</div>
