
/* Custom sucsess button */
.btn-sucsess,
.btn-sucsess:focus {
  background-color: #ffa44c;
  border: none;
  box-shadow: 4px 10px 26px -4px rgba(0,0,0,0.53);
  width: 300px;
  margin-top: 5px;
}
.btn-sucsess:hover{
  box-shadow: 4px 15px 26px -4px rgba(0,0,0,0.53);
  background-color: #ffa44c;
  margin-top: 0px;
}

 
 /* Specific design for Index.html*/

html,
body {
  height: 100%;
  background-image: url("../bilder/opptur.jpg");
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: lighter;
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


  /* Sentrert knapp --  */
  .site-wrapper-inner {
    vertical-align: middle;
  }
 



