#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1031;


}
#backgroundTripsPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:999;
}


#loginPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:auto;
	width:auto;
	background: #b4b7b7;
	border-radius: 10px;
	border: 1px solid #000;
	z-index:1050;
	padding:12px;
	font-size:13px;
}

#newUserPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	width:auto;
	background:#b4b7b7;
	border-radius: 10px;
	border: 1px solid #000;
	z-index:1050;
	padding:12px;
	padding-left: 35px;
	padding-right:35px;
	padding-bottom: 35px;
	font-size:13px;
}

#RegistrerTrip{
	display:none;
	position:relative;
	_position:absolute; /* hack for internet explorer 6*/
	width:408px;
	background:#b4b7b7;
	border-radius: 10px;
	border: 1px solid #000;
	z-index:1050;
	padding:12px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 35px;
	font-size:13px;
	color:white;
}

#infoPopup{
	display:none;
	position:relative;
	_position:absolute; /* hack for internet explorer 6*/
	width:408px;
	background:#b4b7b7;
	border-radius: 10px;
	border: 1px solid #000;
	z-index:1050;
	padding:12px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 35px;
	font-size:13px;
	color:white;
}

#tripsPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:384px;
	width:408px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	border: 1px solid #000;
	z-index:1050;
	padding:12px;
	font-size:13px;
	color:white;
}

#newUser{
	text-align:center;
	margin:100px;
}

#logIn{
	text-align:center;
	margin:100px;
}
