<div id="loginPopup" ng-controller="LoginController as login">
    <form ng-submit="login.login(login.credentials)">
        <h2><span class="entypo-login"></span> Logg inn</h2>
        <button class="submit" onsubmit= "logIn()" id="loginBtn"><span class="entypo-lock"></span></button>
        <span class="entypo-user inputUserIcon" style="margin-top: -4px;"></span>
        <input type="text" class ="fin" id="user" name="email" placeholder="E-post" ng-model="login.credentials.email"/>
        <span class="entypo-key inputPassIcon" style="margin-top: -17px;"></span>
        <input type="password" class = "fin" id="pass" name="password" placeholder="Passord" ng-model="login.credentials.password"/>
    </form>

    <script src="app.js"></script>
</div>