<div class="container-fluid" style = "background-color: #a4a5a5;">
    <div class="row" style = "background-color: #a4a5a5">
        <div class="col-sm-4" style = "background-color: #a4a5a5; height: 100em;">
            <ul class="nav nav-sidebar" style = "background-color: #a4a5a5;">


                <div id="regTur" style = "background-color: #a4a5a5;">

                    <form>

                        <li><h3 style="color: white; margin-bottom: 7px; margin-top: 4" ng-bind="currentTrip.tripName"></h3></li>
                        <li><h4 style="color: white; font-size: small; margin-bottom: 50px;"ng-bind="currentTrip.place"></h4></li>



                        <li style="text-align: auto; text-align: left; margin-left: 43px; margin-bottom: 30px;">
                            <p style = "margin: auto; display: inline; margin-bottom: 20px; margin-top: 10px; margin-left: 0px; text-align: left; font-size: medium; color: white;">
                                <b>Estimert turtid: </b>
                            </p>
                            <p style = "display= inline;font-size: medium;display: inline; margin-left: 10px;color: white;">
                                <b ng-bind="currentTrip.duration + ' timer'"></b>
                            </p>
                        </li>



                        <!-- VANSKELIGHETSGRAD -->

                        <li><p style = "margin: auto; margin-bottom: 7px; font-size: medium; margin-left: 43px; text-align: left; color: white;">
                            <b>Vanskelighetsgrad</b></p></li>
                        <li>

                            <span ng-switch="currentTrip.difficulty">
                            <span ng-switch-when="1"> <img src="bilder/vanskelighetsgrad0.png" style="width:300px; margin-top: -10px;"></span> <!-- Bytt ut bokstavene med bilder (duh) -->
                            <span ng-switch-when="2"> <img src="bilder/vanskelighetsgrad1.png" style="width:300px; margin-top: -10px;"></span>
                            <span ng-switch-when="3"> <img src="bilder/vanskelighetsgrad2.png" style="width:300px; margin-top: -10px;"></span>
                            <span ng-switch-when="4"> <img src="bilder/vanskelighetsgrad3.png" style="width:300px; margin-top: -10px;"></span>
                            <span ng-switch-when="5"> <img src="bilder/vanskelighetsgrad4.png" style="width:300px; margin-top: -10px;"></span>
                            <span ng-switch-default> <img src="bilder/vanskelighetsgrad0.png" style="width:300px; margin-top: -10px;"></span>
                        </span>


                        </li>
                        <p style = "color: white; font-size: smaller; display: inline; margin-top: 7px;">Nybegynner</p>
                        <p style = "color: white; font-size: smaller; display: inline; margin-left: 186px;  margin-top: 7px;">Ekspert</p>


                        <!-- BESKRIVELSE -->
                        <li><p style = "margin: auto; margin-bottom: 5px; margin-top: 40px; margin-left: 43px; text-align: left; font-size: medium; color: white;">
                            <b>Beskrivelse</b></p></li>

                        <li><p style = "color: white; font-size: smaller; margin-left: 40px; margin-right: 30px; margin-top: 10px; margin-bottom: 10px; text-align: left;" ng-bind="currentTrip.description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet placerat mi eget bibendum.
                            Duis nec efficitur eros. Sed rhoncus, dolor a ultrices blandit, elit velit scelerisque eros, vel
                            cursus turpis urna a eros. Quisque varius ullamcorper ultrices. Aliquam sit amet erat facilisis,
                            egestas neque vel, efficitur quam. Maecenas maximus velit massa, sit amet semper lacus vulputate et.
                            Proin pellentesque, elit id sollicitudin faucibus, metus augue bibendum orci, vel porttitor lacus urna ornare
                            nibh. Curabitur massa dolor, cursus id auctor vel, posuere in urna. Mauris turpis libero, faucibus volutpat
                            gravida eu, dictum at neque. Morbi egestas pulvinar ullamcorper.</p></li>




                        <li><p style = "margin: auto; margin-bottom: 7px; font-size: medium; margin-left: 43px; margin-top: 40px; text-align: left; color: white;">
                            <b>Snøskredvarsel for området</b></p></li>


                        <li style = " text-align: left;">

                            <a href="http://varsom.no/Snoskred/REGIONNAME"><span ng-switch="currentTrip.difficulty">
                            <span ng-switch-when="0"> <p class="kommentar" style="margin-left: 43px;">Det er ikke registrert skredvarseldata for dette området</p></span>
                            <span ng-switch-when="1"> <img src="bilder/skredfaresone1.png" style="width:180px; margin-top: 7px; margin-left: 43px; text-align: left;"></span> <!-- Bytt ut bokstavene med bilder (duh) -->
                            <span ng-switch-when="2"> <img src="bilder/skredfaresone2.png" style="width:180px; margin-top: 7px; margin-left: 43px; text-align: left;"></span>
                            <span ng-switch-when="3"> <img src="bilder/skredfaresone3.png" style="width:180px; margin-top: 7px; margin-left: 43px; text-align: left;"></span>
                            <span ng-switch-when="4"> <img src="bilder/skredfaresone4.png" style="width:180px; margin-top: 7px; margin-left: 43px; text-align: left;"></span>
                            <span ng-switch-when="5"> <img src="bilder/skredfaresone5.png" style="width:180px; margin-top: 7px; margin-left: 43px; text-align: left;"></span>
                            <span ng-switch-default> <p class="kommentar" style="margin-left: 43px;">Får ikke hentet skredvarseldata fra NVE</p></span>
                        </span></a>

                        </li>



                        <div id="checkFormAvalange" style = "color: white; font-size: small; margin-top: 7px; margin-left: 43px; text-align: left;">
                            <input type="checkbox" id="checkFormAvalange"><b> Se aktsomhetsområder for skred</b>
                        </div>

                        <li><p style = "margin: auto; margin-bottom: 7px; font-size: smaller; margin-left: 43px; margin-top: 30px; text-align: left; color: white;">
                            Snøskredvarsel og data om aktsomhetsområder for skred er hentet fra Norges vassdrag- og energidirektorat. For mer informasjon om skred og skredfaresoner,
                            kan du følge <br><a style=" font-style: italic; color: white;" href="http://varsom.no/Snoskred/Skredskolen/Om-faregradene1/">denne lenken</a></p></li>

                    </form>

                </div>



            </ul>
        </div>
        <div class="col-sm-8" style = "background-color: #a4a5a5; margin-top: -4px">



            <!-- <div id='map'></div> -->

            <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet" />
            <div id="map" style="width: 100%; height: 92vh; border: 0px solid #ccc; position: fixed"></div>
            <!-- <button id="changeColor">Rectangle -> Blue</button> -->

            <script>
                var myPolyLine = JSON.parse(sessionStorage.path);
                var leng=parseInt((myPolyLine.features[0].geometry.coordinates.length)/2,10);
                var longitudeKart = myPolyLine.features[0].geometry.coordinates[leng/2][0]+0.06;
                var latitudeKart = myPolyLine.features[0].geometry.coordinates[leng/2][1];

                var map = new L.Map('map', {center: new L.LatLng(latitudeKart, longitudeKart), zoom: 13});


                // create a new tile layer
                var tileUrl = 'https://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png',
                        layer = new L.TileLayer(tileUrl, {maxZoom: 18});

                // add the layer to the map
                map.addLayer(layer);


                var polyLineStyle = {
                    "color": "#ffa44c",
                    "weight": 4,
                    "opacity": 1.0
                };



                //L.geoJson(test).addTo(map);


                L.geoJson(myPolyLine, {style: polyLineStyle}).addTo(map);





            //aktsomhetssoner for skred
                var url = "http://wms3.nve.no/map/services/SkredSnoAktR/MapServer/WmsServer";
                var layer = "Snoskred-Aktsomhetsomrader";
                var skredfare = L.tileLayer.wms(url, {
                    layers: layer,
                    format: 'image/png',
                    transparent: true,
                    opacity: 0.2,
                    attribution: "Data hentet fra NVE"
                });


                //checkboks
                $(document).on('click', '#checkFormAvalange :checkbox', function() {
                    console.log('check');
                    var $this = $(this);
                    var layerGroup = L.layerGroup().addTo(map);

                    if ($this.is(':checked')) {
                        skredfare.addTo(layerGroup);

                    } else{
                        map.removeLayer(skredfare);
                    }

                });



            </script>




        </div>

    </div>
</div>
